# Anvil Configuration
NEXT_PUBLIC_ANVIL_URL=http://127.0.0.1:8545
NEXT_PUBLIC_ANVIL_CHAIN_ID=0x7a69

# Contract Configuration
# Actualizar después de desplegar el contrato
NEXT_PUBLIC_CONTRACT_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3

# Anvil Account (Development only - First account with funds)
NEXT_PUBLIC_ANVIL_ACCOUNT_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Error Messages
NEXT_PUBLIC_METAMASK_NOT_FOUND=Por favor instala MetaMask para continuar

# Force use Anvil instead of MetaMask for development
NEXT_PUBLIC_USE_ANVIL=true
